<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.BlockHistoriesMaterialHistoriesMaterialHistoriesBlocksMapper">

    <!-- 通用设置 -->

        <!-- 通用查询列 -->
        <sql id="Base_Column_List">
            id, material_history_id, block_history_id
        </sql>

        <!-- 通用条件列 -->
        <sql id="BlockHistoriesMaterialHistoriesMaterialHistoriesBlocksByCondition">
                    <if test="materialHistoryId!=null and materialHistoryId!=''">
                        AND material_history_id = #{materialHistoryId}
                    </if>
                    <if test="blockHistoryId!=null and blockHistoryId!=''">
                        AND block_history_id = #{blockHistoryId}
                    </if>
        </sql>

        <!-- 通用设置列 -->
        <sql id="BlockHistoriesMaterialHistoriesMaterialHistoriesBlocksSetColumns">
                    <if test="materialHistoryId!=null and materialHistoryId!=''">
                        material_history_id = #{materialHistoryId},
                    </if>
                    <if test="blockHistoryId!=null and blockHistoryId!=''">
                        block_history_id = #{blockHistoryId},
                    </if>
        </sql>



        <!-- 通用查询映射结果 -->
        <resultMap id="BlockHistoriesMaterialHistoriesMaterialHistoriesBlocksMap" type="com.tinyengine.it.model.entity.BlockHistoriesMaterialHistoriesMaterialHistoriesBlocks">
                    <id column="id" property="id"/>
                    <result column="material_history_id" property="materialHistoryId"/>
                    <result column="block_history_id" property="blockHistoryId"/>
        </resultMap>

    <!-- 查询表block_histories_material_histories__material_histories_blocks所有数据 -->
    <select id="findAllBlockHistoriesMaterialHistoriesMaterialHistoriesBlocks" resultMap="BlockHistoriesMaterialHistoriesMaterialHistoriesBlocksMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM block_histories_material_histories__material_histories_blocks
    </select>

            <!-- 根据主键id查询表block_histories_material_histories__material_histories_blocks信息 -->
            <select id="findBlockHistoriesMaterialHistoriesMaterialHistoriesBlocksById" resultMap="BlockHistoriesMaterialHistoriesMaterialHistoriesBlocksMap">
                SELECT
                <include refid="Base_Column_List"/>
                FROM block_histories_material_histories__material_histories_blocks
                WHERE id=#{id}
            </select>

    <select id="findBlockHistoriesMaterialHistoriesMaterialHistoriesBlocksByMaterialHisId" resultMap="BlockHistoriesMaterialHistoriesMaterialHistoriesBlocksMap">
        SELECT
            block_history_id
        FROM block_histories_material_histories__material_histories_blocks
        WHERE material_history_id=#{materialHistoryId}
    </select>

    <!-- 根据条件查询表block_histories_material_histories__material_histories_blocks数据 -->
    <select id="findBlockHistoriesMaterialHistoriesMaterialHistoriesBlocksByCondition" resultMap="BlockHistoriesMaterialHistoriesMaterialHistoriesBlocksMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM block_histories_material_histories__material_histories_blocks
        WHERE 1=1
        <include refid="BlockHistoriesMaterialHistoriesMaterialHistoriesBlocksByCondition" />
    </select>

            <!-- 根据主键id删除表block_histories_material_histories__material_histories_blocks数据 -->
            <delete id="deleteBlockHistoriesMaterialHistoriesMaterialHistoriesBlocksById">
                DELETE FROM
                block_histories_material_histories__material_histories_blocks
                WHERE id=#{id}
            </delete>

            <!-- 根据主键id更新表block_histories_material_histories__material_histories_blocks数据 -->
            <update id="updateBlockHistoriesMaterialHistoriesMaterialHistoriesBlocksById" parameterType="com.tinyengine.it.model.entity.BlockHistoriesMaterialHistoriesMaterialHistoriesBlocks">
                UPDATE block_histories_material_histories__material_histories_blocks
                <set>
                    <include refid="BlockHistoriesMaterialHistoriesMaterialHistoriesBlocksSetColumns"/>
                </set>
                WHERE
                id=#{id}
            </update>

            <!-- 新增表block_histories_material_histories__material_histories_blocks数据 -->
            <insert id="createBlockHistoriesMaterialHistoriesMaterialHistoriesBlocks">
                INSERT INTO block_histories_material_histories__material_histories_blocks (
                    id
                    ,material_history_id
                    ,block_history_id
                ) VALUES (
                    #{id}
                    ,#{materialHistoryId}
                    ,#{blockHistoryId}
                )
            </insert>
</mapper>
