<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.BlockCategoriesMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , name, app, `desc`, createdBy, updatedBy, created_at, updated_at, category_id
    </sql>

    <!-- 通用条件列 -->
    <sql id="BlockCategoriesByCondition">
        <if test="name!=null and name!=''">
            AND name = #{name}
        </if>
        <if test="app!=null and app!=''">
            AND app = #{app}
        </if>
        <if test="desc!=null and desc!=''">
            AND `desc` = #{desc}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND createdBy = #{createdBy}
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            AND updatedBy = #{updatedBy}
        </if>
        <if test="createdAt!=null and createdAt!=''">
            AND created_at = #{createdAt}
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            AND updated_at = #{updatedAt}
        </if>
        <if test="categoryId!=null and categoryId!=''">
            AND category_id = #{categoryId}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="BlockCategoriesSetColumns">
        <if test="name!=null and name!=''">
            name = #{name},
        </if>
        <if test="app!=null and app!=''">
            app = #{app},
        </if>
        <if test="desc!=null and desc!=''">
            `desc` = #{desc},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            createdBy = #{createdBy},
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            updatedBy = #{updatedBy},
        </if>
        <if test="createdAt!=null and createdAt!=''">
            created_at = #{createdAt},
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            updated_at = #{updatedAt},
        </if>
        <if test="categoryId!=null and categoryId!=''">
            category_id = #{categoryId},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BlockCategoriesMap" type="com.tinyengine.it.model.entity.BlockCategories">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="app" property="app"/>
        <result column="desc" property="desc"/>
        <result column="createdBy" property="createdBy"/>
        <result column="updatedBy" property="updatedBy"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>

    <!-- 查询表block_categories所有数据 -->
    <select id="findAllBlockCategories" resultMap="BlockCategoriesMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM block_categories
    </select>

    <!-- 根据主键id查询表block_categories信息 -->
    <select id="findBlockCategoriesById" resultMap="BlockCategoriesMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM block_categories
        WHERE id=#{id}
    </select>

    <!-- 根据条件查询表block_categories数据 -->
    <select id="findBlockCategoriesByCondition" resultMap="BlockCategoriesMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM block_categories
        WHERE 1=1
        <include refid="BlockCategoriesByCondition"/>
    </select>

    <!-- 根据主键id删除表block_categories数据 -->
    <delete id="deleteBlockCategoriesById">
        DELETE
        FROM block_categories
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表block_categories数据 -->
    <update id="updateBlockCategoriesById" parameterType="com.tinyengine.it.model.entity.BlockCategories">
        UPDATE block_categories
        <set>
            <include refid="BlockCategoriesSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表block_categories数据 -->
    <insert id="createBlockCategories" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.tinyengine.it.model.entity.BlockCategories">

        INSERT INTO block_categories ( id
                                     , name
                                     , app
                                     , `desc`
                                     , createdBy
                                     , updatedBy
                                     , created_at
                                     , updated_at
                                     , category_id)
        VALUES ( #{id}
               , #{name}
               , #{app}
               , #{desc}
               , #{createdBy}
               , #{updatedBy}
               , #{createdAt}
               , #{updatedAt}
               , #{categoryId})
    </insert>
</mapper>
