<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.BlocksGroupsBlockGroupsBlocksMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , `block-group_id`, block_id
    </sql>

    <!-- 通用条件列 -->
    <sql id="BlocksGroupsBlockGroupsBlocksByCondition">
        <if test="blockGroupId!=null and blockGroupId!=''">
            AND `block-group_id` = #{blockGroupId}
        </if>
        <if test="blockId!=null and blockId!=''">
            AND block_id = #{blockId}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="BlocksGroupsBlockGroupsBlocksSetColumns">
        <if test="blockGroupId!=null and blockGroupId!=''">
            `block-group_id` = #{blockGroupId},
        </if>
        <if test="blockId!=null and blockId!=''">
            block_id = #{blockId},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BlocksGroupsBlockGroupsBlocksMap"
               type="com.tinyengine.it.model.entity.BlocksGroupsBlockGroupsBlocks">
        <id column="id" property="id"/>
        <result column="block-group_id" property="blockGroupId"/>
        <result column="block_id" property="blockId"/>
    </resultMap>

    <!-- 查询表blocks_groups__block_groups_blocks所有数据 -->
    <select id="findAllBlocksGroupsBlockGroupsBlocks" resultMap="BlocksGroupsBlockGroupsBlocksMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM blocks_groups__block_groups_blocks
    </select>

    <!-- 根据主键id查询表blocks_groups__block_groups_blocks信息 -->
    <select id="findBlocksGroupsBlockGroupsBlocksById" resultMap="BlocksGroupsBlockGroupsBlocksMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM blocks_groups__block_groups_blocks
        WHERE id=#{id}
    </select>

    <!-- 根据条件查询表blocks_groups__block_groups_blocks数据 -->
    <select id="findBlocksGroupsBlockGroupsBlocksByCondition" resultMap="BlocksGroupsBlockGroupsBlocksMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM blocks_groups__block_groups_blocks
        WHERE 1=1
        <include refid="BlocksGroupsBlockGroupsBlocksByCondition"/>
    </select>

    <!-- 根据主键id删除表blocks_groups__block_groups_blocks数据 -->
    <delete id="deleteBlocksGroupsBlockGroupsBlocksById">
        DELETE
        FROM blocks_groups__block_groups_blocks
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表blocks_groups__block_groups_blocks数据 -->
    <update id="updateBlocksGroupsBlockGroupsBlocksById"
            parameterType="com.tinyengine.it.model.entity.BlocksGroupsBlockGroupsBlocks">
        UPDATE blocks_groups__block_groups_blocks
        <set>
            <include refid="BlocksGroupsBlockGroupsBlocksSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表blocks_groups__block_groups_blocks数据 -->
    <insert id="createBlocksGroupsBlockGroupsBlocks">
        INSERT INTO blocks_groups__block_groups_blocks ( id
                                                       , `block-group_id`
                                                       , block_id)
        VALUES ( #{id}
               , #{blockGroupId}
               , #{blockId})
    </insert>
</mapper>
