<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.BlockGroupsMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , name, app, `desc`, created_at, updated_at, created_by, updated_by
    </sql>

    <!-- 通用条件列 -->
    <sql id="BlockGroupsByCondition">
        <if test="name!=null and name!=''">
            AND name = #{name}
        </if>
        <if test="app!=null and app!=''">
            AND app = #{app}
        </if>
        <if test="desc!=null and desc!=''">
            AND `desc` = #{desc}
        </if>
        <if test="createdAt!=null and createdAt!=''">
            AND created_at = #{createdAt}
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            AND updated_at = #{updatedAt}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND created_by = #{createdBy}
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            AND updated_by = #{updatedBy}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="BlockGroupsSetColumns">
        <if test="name!=null and name!=''">
            name = #{name},
        </if>
        <if test="app!=null and app!=''">
            app = #{app},
        </if>
        <if test="desc!=null and desc!=''">
            `desc` = #{desc},
        </if>
        <if test="createdAt!=null and createdAt!=''">
            created_at = #{createdAt},
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            updated_at = #{updatedAt},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            created_by = #{createdBy},
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            updated_by = #{updatedBy},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BlockGroupsMap" type="com.tinyengine.it.model.entity.BlockGroups">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="app" property="app"/>
        <result column="desc" property="desc"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>


    <!-- 查询表block_groups所有数据 -->
    <select id="findAllBlockGroups" resultMap="BlockGroupsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM block_groups
    </select>

    <!-- 根据app查询表block_groups的主键id -->
    <select id="findBlockGroupsByApp" resultMap="BlockGroupsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM block_groups
        WHERE app=#{app}
    </select>

    <!-- 根据主键id查询表block_groups信息 -->
    <select id="findBlockGroupsById" resultMap="BlockGroupsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM block_groups
        WHERE id=#{id}
    </select>

    <!-- 根据条件查询表block_groups数据 -->
    <select id="findBlockGroupsByCondition" resultMap="BlockGroupsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM block_groups
        WHERE 1=1
        <include refid="BlockGroupsByCondition"/>
    </select>

    <!-- 根据主键id删除表block_groups数据 -->
    <delete id="deleteBlockGroupsById">
        DELETE
        FROM block_groups
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表block_groups数据 -->
    <update id="updateBlockGroupsById" parameterType="com.tinyengine.it.model.entity.BlockGroups">
        UPDATE block_groups
        <set>
            <include refid="BlockGroupsSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表block_groups数据 -->
    <insert id="createBlockGroups" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.tinyengine.it.model.entity.BlockGroups">
        INSERT INTO block_groups ( id
                                 , name
                                 , app
                                 , `desc`
                                 , created_at
                                 , updated_at
                                 , created_by
                                 , updated_by)
        VALUES ( #{id}
               , #{name}
               , #{app}
               , #{desc}
               , #{createdAt}
               , #{updatedAt}
               , #{createdBy}
               , #{updatedBy})
    </insert>
</mapper>
