<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.I18nEntryMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , key, content, host_id, host_type, lang_id, created_by, last_updated_by, created_time, last_updated_time, tenant_id, site_id
    </sql>

    <!-- 通用条件列 -->
    <sql id="I18nEntryByCondition">
        <if test="key!=null and key!=''">
            AND key = #{key}
        </if>
        <if test="content!=null and content!=''">
            AND content = #{content}
        </if>
        <if test="hostId!=null and hostId!=''">
            AND host_id = #{hostId}
        </if>
        <if test="hostType!=null and hostType!=''">
            AND host_type = #{hostType}
        </if>
        <if test="langId!=null and langId!=''">
            AND lang_id = #{langId}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND created_by = #{createdBy}
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            AND last_updated_by = #{lastUpdatedBy}
        </if>
        <if test="createdTime!=null and createdTime!=''">
            AND created_time = #{createdTime}
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            AND last_updated_time = #{lastUpdatedTime}
        </if>
        <if test="tenantId!=null and tenantId!=''">
            AND tenant_id = #{tenantId}
        </if>
        <if test="siteId!=null and siteId!=''">
            AND site_id = #{siteId}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="I18nEntrySetColumns">
        <if test="key!=null and key!=''">
            key = #{key},
        </if>
        <if test="content!=null and content!=''">
            content = #{content},
        </if>
        <if test="hostId!=null and hostId!=''">
            host_id = #{hostId},
        </if>
        <if test="hostType!=null and hostType!=''">
            host_type = #{hostType},
        </if>
        <if test="langId!=null and langId!=''">
            lang_id = #{langId},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            created_by = #{createdBy},
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            last_updated_by = #{lastUpdatedBy},
        </if>
        <if test="createdTime!=null and createdTime!=''">
            created_time = #{createdTime},
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            last_updated_time = #{lastUpdatedTime},
        </if>
        <if test="tenantId!=null and tenantId!=''">
            tenant_id = #{tenantId},
        </if>
        <if test="siteId!=null and siteId!=''">
            site_id = #{siteId},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="I18nEntryMap" type="com.tinyengine.it.model.entity.I18nEntry">
        <id column="id" property="id"/>
        <result column="key" property="key"/>
        <result column="content" property="content"/>
        <result column="host_id" property="hostId"/>
        <result column="host_type" property="hostType"/>
        <result column="lang_id" property="langId"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="last_updated_time" property="lastUpdatedTime"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="site_id" property="siteId"/>
    </resultMap>

    <!-- 查询表t_i18n_entry所有数据 -->
    <select id="queryAllI18nEntry" resultMap="I18nEntryMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_i18n_entry
        <where>
            <if test="tenantId != null">
                AND tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <!-- 根据主键id查询表t_i18n_entry信息 -->
    <select id="queryI18nEntryById" resultMap="I18nEntryMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_i18n_entry
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="tenantId != null">
                AND tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <!-- 根据key、lang查询表i18n_entries信息 -->
    <select id="findI18nEntriesByKeyAndLang" resultMap="I18nEntryMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_i18n_entry
        WHERE `key`=#{key} and lang_id=#{langId}
    </select>

    <!-- 根据条件查询表t_i18n_entry数据 -->
    <select id="queryI18nEntryByCondition" resultMap="I18nEntryMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_i18n_entry
        WHERE 1=1
        <include refid="I18nEntryByCondition"/>
    </select>

    <!-- 根据主键id删除表t_i18n_entry数据 -->
    <delete id="deleteI18nEntryById">
        DELETE
        FROM t_i18n_entry
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表t_i18n_entry数据 -->
    <update id="updateI18nEntryById" parameterType="com.tinyengine.it.model.entity.I18nEntry">
        UPDATE t_i18n_entry
        <set>
            <include refid="I18nEntrySetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表t_i18n_entry数据 -->
    <insert id="createI18nEntry" useGeneratedKeys="true" keyProperty="id" parameterType="com.tinyengine.it.model.entity.I18nEntry">
        INSERT INTO t_i18n_entry ( id
                                 , key
                                 , content
                                 , host_id
                                 , host_type
                                 , lang_id
                                 , created_by
                                 , last_updated_by
                                 , created_time
                                 , last_updated_time
                                 , tenant_id
                                 , site_id)
        VALUES ( #{id}
               , #{key}
               , #{content}
               , #{hostId}
               , #{hostType}
               , #{langId}
               , #{createdBy}
               , #{lastUpdatedBy}
               , #{createdTime}
               , #{lastUpdatedTime}
               , #{tenantId}
               , #{siteId})
    </insert>
</mapper>
