<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.MaterialCategoryMapper">

    <!-- 通用设置 -->

        <!-- 通用查询列 -->
        <sql id="Base_Column_List">
            id, material_id, category_id
        </sql>

        <!-- 通用条件列 -->
        <sql id="MaterialCategoryByCondition">
                    <if test="materialId!=null and materialId!=''">
                        AND material_id = #{materialId}
                    </if>
                    <if test="categoryId!=null and categoryId!=''">
                        AND category_id = #{categoryId}
                    </if>
        </sql>

        <!-- 通用设置列 -->
        <sql id="MaterialCategorySetColumns">
                    <if test="materialId!=null and materialId!=''">
                        material_id = #{materialId},
                    </if>
                    <if test="categoryId!=null and categoryId!=''">
                        category_id = #{categoryId},
                    </if>
        </sql>



        <!-- 通用查询映射结果 -->
        <resultMap id="MaterialCategoryMap" type="com.tinyengine.it.model.entity.MaterialCategory">
                    <id column="id" property="id"/>
                    <result column="material_id" property="materialId"/>
                    <result column="category_id" property="categoryId"/>
        </resultMap>

    <!-- 查询表r_material_category所有数据 -->
    <select id="findAllMaterialCategory" resultMap="MaterialCategoryMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM r_material_category
    </select>

            <!-- 根据主键id查询表r_material_category信息 -->
            <select id="findMaterialCategoryById" resultMap="MaterialCategoryMap">
                SELECT
                <include refid="Base_Column_List"/>
                FROM r_material_category
                WHERE id=#{id}
            </select>

    <!-- 根据条件查询表r_material_category数据 -->
    <select id="findMaterialCategoryByCondition" resultMap="MaterialCategoryMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM r_material_category
        WHERE 1=1
        <include refid="MaterialCategoryByCondition" />
    </select>

            <!-- 根据主键id删除表r_material_category数据 -->
            <delete id="deleteMaterialCategoryById">
                DELETE FROM
                r_material_category
                WHERE id=#{id}
            </delete>

            <!-- 根据主键id更新表r_material_category数据 -->
            <update id="updateMaterialCategoryById" parameterType="com.tinyengine.it.model.entity.MaterialCategory">
                UPDATE r_material_category
                <set>
                    <include refid="MaterialCategorySetColumns"/>
                </set>
                WHERE
                id=#{id}
            </update>

            <!-- 新增表r_material_category数据 -->
            <insert id="createMaterialCategory">
                INSERT INTO r_material_category (
                    id
                    ,material_id
                    ,category_id
                ) VALUES (
                    #{id}
                    ,#{materialId}
                    ,#{categoryId}
                )
            </insert>
</mapper>
