<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.MaterialHistoryComponentMapper">

    <!-- 通用设置 -->

        <!-- 通用查询列 -->
        <sql id="Base_Column_List">
            id, material_history_id, component_id
        </sql>

        <!-- 通用条件列 -->
        <sql id="MaterialHistoryComponentByCondition">
                    <if test="materialHistoryId!=null and materialHistoryId!=''">
                        AND material_history_id = #{materialHistoryId}
                    </if>
                    <if test="componentId!=null and componentId!=''">
                        AND component_id = #{componentId}
                    </if>
        </sql>

        <!-- 通用设置列 -->
        <sql id="MaterialHistoryComponentSetColumns">
                    <if test="materialHistoryId!=null and materialHistoryId!=''">
                        material_history_id = #{materialHistoryId},
                    </if>
                    <if test="componentId!=null and componentId!=''">
                        component_id = #{componentId},
                    </if>
        </sql>



        <!-- 通用查询映射结果 -->
        <resultMap id="MaterialHistoryComponentMap" type="com.tinyengine.it.model.entity.MaterialHistoryComponent">
                    <id column="id" property="id"/>
                    <result column="material_history_id" property="materialHistoryId"/>
                    <result column="component_id" property="componentId"/>
        </resultMap>

    <!-- 查询表r_material_history_component所有数据 -->
    <select id="findAllMaterialHistoryComponent" resultMap="MaterialHistoryComponentMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM r_material_history_component
    </select>

            <!-- 根据主键id查询表r_material_history_component信息 -->
            <select id="findMaterialHistoryComponentById" resultMap="MaterialHistoryComponentMap">
                SELECT
                <include refid="Base_Column_List"/>
                FROM r_material_history_component
                WHERE id=#{id}
            </select>

    <!-- 根据条件查询表r_material_history_component数据 -->
    <select id="findMaterialHistoryComponentByCondition" resultMap="MaterialHistoryComponentMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM r_material_history_component
        WHERE 1=1
        <include refid="MaterialHistoryComponentByCondition" />
    </select>

            <!-- 根据主键id删除表r_material_history_component数据 -->
            <delete id="deleteMaterialHistoryComponentById">
                DELETE FROM
                r_material_history_component
                WHERE id=#{id}
            </delete>

            <!-- 根据主键id更新表r_material_history_component数据 -->
            <update id="updateMaterialHistoryComponentById" parameterType="com.tinyengine.it.model.entity.MaterialHistoryComponent">
                UPDATE r_material_history_component
                <set>
                    <include refid="MaterialHistoryComponentSetColumns"/>
                </set>
                WHERE
                id=#{id}
            </update>

            <!-- 新增表r_material_history_component数据 -->
            <insert id="createMaterialHistoryComponent">
                INSERT INTO r_material_history_component (
                    id
                    ,material_history_id
                    ,component_id
                ) VALUES (
                    #{id}
                    ,#{materialHistoryId}
                    ,#{componentId}
                )
            </insert>
</mapper>
