<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.PagesMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , `name`, app, route, page_content, created_at, updated_at, createdBy, updatedBy, tenant, is_body, parent_id, `group`, `depth`, is_page, occupier, is_default, content_blocks

    </sql>

    <!-- 通用条件列 -->
    <sql id="PagesByCondition">
        <if test="name!=null and name!=''">
            AND `name` = #{name}
        </if>
        <if test="app!=null and app!=''">
            AND app = #{app}
        </if>
        <if test="route!=null and route!=''">
            AND route = #{route}
        </if>
        <if test="pageContent!=null and pageContent!=''">
            AND page_content = #{pageContent}
        </if>
        <if test="createdAt!=null and createdAt!=''">
            AND created_at = #{createdAt}
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            AND updated_at = #{updatedAt}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND createdBy = #{createdBy}
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            AND updatedBy = #{updatedBy}
        </if>
        <if test="tenant!=null and tenant!=''">
            AND tenant = #{tenant}
        </if>
        <if test="isBody!=null and isBody!=''">
            AND is_body = #{isBody}
        </if>
        <if test="parentId!=null and parentId!=''">
            AND parent_id = #{parentId}
        </if>
        <if test="group!=null and group!=''">
            AND `group` = #{group}
        </if>
        <if test="depth!=null and depth!=''">
            AND `depth` = #{depth}
        </if>
        <if test="isPage!=null and isPage!=''">
            AND is_page = #{isPage}
        </if>
        <if test="occupier!=null and occupier!=''">
            AND occupier = #{occupier}
        </if>
        <if test="isDefault!=null and isDefault!=''">
            AND is_default = #{isDefault}
        </if>
        <if test="contentBlocks!=null and contentBlocks!=''">
            AND content_blocks = #{contentBlocks}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="PagesSetColumns">
        <if test="name!=null and name!=''">
            `name` = #{name},
        </if>
        <if test="app!=null and app!=''">
            app = #{app},
        </if>
        <if test="route!=null and route!=''">
            route = #{route},
        </if>
        <if test="pageContent!=null and pageContent!=''">
            page_content = #{pageContent},
        </if>
        <if test="createdAt!=null and createdAt!=''">
            created_at = #{createdAt},
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            updated_at = #{updatedAt},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            createdBy = #{createdBy},
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            updatedBy = #{updatedBy},
        </if>
        <if test="tenant!=null and tenant!=''">
            tenant = #{tenant},
        </if>
        <if test="isBody!=null and isBody!=''">
            is_body = #{isBody},
        </if>
        <if test="parentId!=null and parentId!=''">
            parent_id = #{parentId},
        </if>
        <if test="group!=null and group!=''">
            `group` = #{group},
        </if>
        <if test="depth!=null and depth!=''">
            `depth` = #{depth},
        </if>
        <if test="isPage!=null and isPage!=''">
            is_page = #{isPage},
        </if>
        <if test="occupier!=null and occupier!=''">
            occupier = #{occupier},
        </if>
        <if test="isDefault!=null and isDefault!=''">
            is_default = #{isDefault},
        </if>
        <if test="contentBlocks!=null and contentBlocks!=''">
            content_blocks = #{contentBlocks},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="PageDtoMap" type="com.tinyengine.it.model.dto.PageDto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="app" property="app"/>
        <result column="route" property="route"/>
        <result column="page_content" property="pageContent"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="createdBy" property="createdBy"/>
        <result column="updatedBy" property="updatedBy"/>
        <result column="tenant" property="tenant"/>
        <result column="is_body" property="isBody"/>
        <result column="parent_id" property="parentId" javaType="String"/>
        <result column="group" property="group"/>
        <result column="depth" property="depth"/>
        <result column="is_page" property="isPage"/>
        <result column="is_default" property="isDefault"/>
        <result column="content_blocks" property="contentBlocks"/>
    </resultMap>

    <!-- 查询表pages所有数据 -->
    <select id="findAllPages" resultMap="PageDtoMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pages
    </select>


    <!-- 根据条件查询表pages数据 -->
    <select id="findPagesByCondition" resultMap="PageDtoMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pages
        WHERE 1=1
        <include refid="PagesByCondition"/>
    </select>

    <!-- 根据主键id删除表pages数据 -->
    <delete id="deletePagesById">
        DELETE
        FROM pages
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表pages数据 -->
    <update id="updatePagesById" parameterType="com.tinyengine.it.model.entity.Pages">
        UPDATE pages
        <set>
            <include refid="PagesSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表pages数据 -->
    <insert id="createPages" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.tinyengine.it.model.entity.Pages">
        INSERT INTO pages ( id
                          , `name`
                          , app
                          , route
                          , page_content
                          , created_at
                          , updated_at
                          , createdBy
                          , updatedBy
                          , tenant
                          , is_body
                          , parent_id
                          , `group`
                          , `depth`
                          , is_page
                          , occupier
                          , is_default
                          , content_blocks)
        VALUES ( #{id}
               , #{name}
               , #{app}
               , #{route}
               , #{pageContent}
               , #{createdAt}
               , #{updatedAt}
               , #{createdBy}
               , #{updatedBy}
               , #{tenant}
               , #{isBody}
               , #{parentId}
               , #{group}
               , #{depth}
               , #{isPage}
               , #{occupier}
               , #{isDefault}
               , #{contentBlocks})
    </insert>
</mapper>
