<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.SourceTplsMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , `name`, `type`, `desc`, `data`, platform, created_at, updated_at, created_by, updated_by
    </sql>

    <!-- 通用条件列 -->
    <sql id="SourceTplsByCondition">
        <if test="name!=null and name!=''">
            AND `name` = #{name}
        </if>
        <if test="type!=null and type!=''">
            AND `type` = #{type}
        </if>
        <if test="desc!=null and desc!=''">
            AND `desc` = #{desc}
        </if>
        <if test="data!=null and data!=''">
            AND `data` = #{data}
        </if>
        <if test="platform!=null and platform!=''">
            AND platform = #{platform}
        </if>
        <if test="createdAt!=null and createdAt!=''">
            AND created_at = #{createdAt}
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            AND updated_at = #{updatedAt}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND created_by = #{createdBy}
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            AND updated_by = #{updatedBy}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="SourceTplsSetColumns">
        <if test="name!=null and name!=''">
            `name` = #{name},
        </if>
        <if test="type!=null and type!=''">
            `type` = #{type},
        </if>
        <if test="desc!=null and desc!=''">
            `desc` = #{desc},
        </if>
        <if test="data!=null and data!=''">
            `data` = #{data},
        </if>
        <if test="platform!=null and platform!=''">
            platform = #{platform},
        </if>
        <if test="createdAt!=null and createdAt!=''">
            created_at = #{createdAt},
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            updated_at = #{updatedAt},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            created_by = #{createdBy},
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            updated_by = #{updatedBy},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="SourceTplsMap" type="com.tinyengine.it.model.entity.SourceTpls">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="desc" property="desc"/>
        <result column="data" property="data"/>
        <result column="platform" property="platform"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <!-- 查询表source_tpls所有数据 -->
    <select id="findAllSourceTpls" resultMap="SourceTplsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM source_tpls
    </select>

    <!-- 根据主键id查询表source_tpls信息 -->
    <select id="findSourceTplsById" resultMap="SourceTplsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM source_tpls
        WHERE id=#{id}
    </select>

    <!-- 根据条件查询表source_tpls数据 -->
    <select id="findSourceTplsByCondition" resultMap="SourceTplsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM source_tpls
        WHERE 1=1
        <include refid="SourceTplsByCondition"/>
    </select>

    <!-- 根据主键id删除表source_tpls数据 -->
    <delete id="deleteSourceTplsById">
        DELETE
        FROM source_tpls
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表source_tpls数据 -->
    <update id="updateSourceTplsById" parameterType="com.tinyengine.it.model.entity.SourceTpls">
        UPDATE source_tpls
        <set>
            <include refid="SourceTplsSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表source_tpls数据 -->
    <insert id="createSourceTpls">
        INSERT INTO source_tpls ( id
                                , name
                                , type
                                , `desc`
                                , data
                                , platform
                                , created_at
                                , updated_at
                                , created_by
                                , updated_by)
        VALUES ( #{id}
               , #{name}
               , #{type}
               , #{desc}
               , #{data}
               , #{platform}
               , #{createdAt}
               , #{updatedAt}
               , #{createdBy}
               , #{updatedBy})
    </insert>
</mapper>
