<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.SourcesMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , name, data, tpl, app, `desc`, created_at, updated_at, created_by, updated_by
    </sql>

    <!-- 通用条件列 -->
    <sql id="SourcesByCondition">
        <if test="name!=null and name!=''">
            AND name = #{name}
        </if>
        <if test="data!=null and data!=''">
            AND data = #{data}
        </if>
        <if test="tpl!=null and tpl!=''">
            AND tpl = #{tpl}
        </if>
        <if test="app!=null and app!=''">
            AND app = #{app}
        </if>
        <if test="desc!=null and desc!=''">
            AND `desc` = #{desc}
        </if>
        <if test="createdAt!=null and createdAt!=''">
            AND created_at = #{createdAt}
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            AND updated_at = #{updatedAt}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND created_by = #{createdBy}
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            AND updated_by = #{updatedBy}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="SourcesSetColumns">
        <if test="name!=null and name!=''">
            name = #{name},
        </if>
        <if test="data!=null and data!=''">
            data = #{data},
        </if>
        <if test="tpl!=null and tpl!=''">
            tpl = #{tpl},
        </if>
        <if test="app!=null and app!=''">
            app = #{app},
        </if>
        <if test="desc!=null and desc!=''">
            `desc` = #{desc},
        </if>
        <if test="createdAt!=null and createdAt!=''">
            created_at = #{createdAt},
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            updated_at = #{updatedAt},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            created_by = #{createdBy},
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            updated_by = #{updatedBy},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="SourcesMap" type="com.tinyengine.it.model.entity.Sources">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="data" property="data"/>
        <result column="tpl" property="tpl"/>
        <result column="app" property="app"/>
        <result column="desc" property="desc"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <!-- 查询表sources所有数据 -->
    <select id="findAllSources" resultMap="SourcesMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sources
    </select>

    <!-- 根据主键id查询表sources信息 -->
    <select id="findSourcesById" resultMap="SourcesMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sources
        WHERE id=#{id}
    </select>

    <!-- 根据条件查询表sources数据 -->
    <select id="findSourcesByCondition" resultMap="SourcesMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sources
        WHERE 1=1
        <include refid="SourcesByCondition"/>
    </select>

    <!-- 根据主键id删除表sources数据 -->
    <delete id="deleteSourcesById">
        DELETE
        FROM sources
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表sources数据 -->
    <update id="updateSourcesById" parameterType="com.tinyengine.it.model.entity.Sources">
        UPDATE sources
        <set>
            <include refid="SourcesSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表sources数据 -->
    <insert id="createSources" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.tinyengine.it.model.entity.Sources">
        INSERT INTO sources ( id
                            , name
                            , data
                            , tpl
                            , app
                            , `desc`
                            , created_at
                            , updated_at
                            , created_by
                            , updated_by)
        VALUES ( #{id}
               , #{name}
               , #{data}
               , #{tpl}
               , #{app}
               , #{desc}
               , #{createdAt}
               , #{updatedAt}
               , #{createdBy}
               , #{updatedBy})
    </insert>
</mapper>
