<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.TaskRecordMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , teamId, taskTypeId, uniqueId, taskName, taskStatus, taskResult, progress, created_at, updated_at, createdBy, updatedBy, ratio, progress_percent, `indicator`
    </sql>

    <!-- 通用条件列 -->
    <sql id="TaskRecordByCondition">
        <if test="teamId!=null and teamId!=''">
            AND teamId = #{teamId}
        </if>
        <if test="taskTypeId!=null and taskTypeId!=''">
            AND taskTypeId = #{taskTypeId}
        </if>
        <if test="uniqueId!=null and uniqueId!=''">
            AND uniqueId = #{uniqueId}
        </if>
        <if test="taskName!=null and taskName!=''">
            AND taskName = #{taskName}
        </if>
        <if test="taskStatus!=null and taskStatus!=''">
            AND taskStatus = #{taskStatus}
        </if>
        <if test="taskResult!=null and taskResult!=''">
            AND taskResult = #{taskResult}
        </if>
        <if test="progress!=null and progress!=''">
            AND progress = #{progress}
        </if>
        <if test="createdAt!=null and createdAt!=''">
            AND created_at = #{createdAt}
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            AND updated_at = #{updatedAt}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND createdBy = #{createdBy}
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            AND updatedBy = #{updatedBy}
        </if>
        <if test="ratio!=null and ratio!=''">
            AND ratio = #{ratio}
        </if>
        <if test="progressPercent!=null and progressPercent!=''">
            AND progress_percent = #{progressPercent}
        </if>
        <if test="indicator!=null and indicator!=''">
            AND `indicator` = #{indicator}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="TaskRecordSetColumns">
        <if test="teamId!=null and teamId!=''">
            teamId = #{teamId},
        </if>
        <if test="taskTypeId!=null and taskTypeId!=''">
            taskTypeId = #{taskTypeId},
        </if>
        <if test="uniqueId!=null and uniqueId!=''">
            uniqueId = #{uniqueId},
        </if>
        <if test="taskName!=null and taskName!=''">
            taskName = #{taskName},
        </if>
        <if test="taskStatus!=null and taskStatus!=''">
            taskStatus = #{taskStatus},
        </if>
        <if test="taskResult!=null and taskResult!=''">
            taskResult = #{taskResult},
        </if>
        <if test="progress!=null and progress!=''">
            progress = #{progress},
        </if>
        <if test="createdAt!=null and createdAt!=''">
            created_at = #{createdAt},
        </if>
        <if test="updatedAt!=null and updatedAt!=''">
            updated_at = #{updatedAt},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            createdBy = #{createdBy},
        </if>
        <if test="updatedBy!=null and updatedBy!=''">
            updatedBy = #{updatedBy},
        </if>
        <if test="ratio!=null and ratio!=''">
            ratio = #{ratio},
        </if>
        <if test="progressPercent!=null and progressPercent!=''">
            progress_percent = #{progressPercent},
        </if>
        <if test="indicator!=null and indicator!=''">
            `indicator` = #{indicator},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="TaskRecordMap" type="com.tinyengine.it.model.entity.TaskRecord">
        <id column="id" property="id"/>
        <result column="teamId" property="teamId"/>
        <result column="taskTypeId" property="taskTypeId"/>
        <result column="uniqueId" property="uniqueId"/>
        <result column="taskName" property="taskName"/>
        <result column="taskStatus" property="taskStatus"/>
        <result column="taskResult" property="taskResult"/>
        <result column="progress" property="progress"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="createdBy" property="createdBy"/>
        <result column="updatedBy" property="updatedBy"/>
        <result column="ratio" property="ratio"/>
        <result column="progress_percent" property="progressPercent"/>
        <result column="indicator" property="indicator"/>
    </resultMap>

    <!-- 查询表task_record所有数据 -->
    <select id="findAllTaskRecord" resultMap="TaskRecordMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task_record
    </select>

    <!-- 根据主键id查询表task_record信息 -->
    <select id="findTaskRecordById" resultMap="TaskRecordMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task_record
        WHERE id=#{id}
    </select>

    <!-- 根据条件查询表task_record数据 -->
    <select id="findTaskRecordByCondition" resultMap="TaskRecordMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task_record
        WHERE 1=1
        <include refid="TaskRecordByCondition"/>
    </select>

    <!-- 根据taskTypeId、uniqueId按照created_at降序查询表task_record信息 -->
    <select id="fingTaskRecordByTaskIdAndUniqueid" resultMap="TaskRecordMap">
        select
        <include refid="Base_Column_List"/>
        FROM task_record
        WHERE taskTypeId=#{taskTypeId} and uniqueId=#{uniqueId}
        order by created_at desc
    </select>

    <!-- 根据taskTypeId、uniqueId按照id降序查询表task_record信息 -->
    <select id="getUnfinishedTask" resultMap="TaskRecordMap">
        select
        <include refid="Base_Column_List"/>
        FROM task_record
        WHERE taskTypeId=#{taskTypeId} and uniqueId=#{uniqueId}
        order by id desc
        LIMIT 1
    </select>
    <!-- 根据主键id删除表task_record数据 -->
    <delete id="deleteTaskRecordById">
        DELETE
        FROM task_record
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表task_record数据 -->
    <update id="updateTaskRecordById" parameterType="com.tinyengine.it.model.entity.TaskRecord">
        UPDATE task_record
        <set>
            <include refid="TaskRecordSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表task_record数据 -->
    <insert id="createTaskRecord">
        INSERT INTO task_record ( id
                                , teamId
                                , taskTypeId
                                , uniqueId
                                , taskName
                                , taskStatus
                                , taskResult
                                , progress
                                , created_at
                                , updated_at
                                , createdBy
                                , updatedBy
                                , ratio
                                , progress_percent
                                , indicator)
        VALUES ( #{id}
               , #{teamId}
               , #{taskTypeId}
               , #{uniqueId}
               , #{taskName}
               , #{taskStatus}
               , #{taskResult}
               , #{progress}
               , #{createdAt}
               , #{updatedAt}
               , #{createdBy}
               , #{updatedBy}
               , #{ratio}
               , #{progressPercent}
               , #{indicator})
    </insert>
</mapper>
