<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.BlockCurrentHistoryMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , block_history_id, block_id, app_id, tenant_id, renter_id, site_id, created_by, last_updated_by, created_time, last_updated_time
    </sql>

    <!-- 通用条件列 -->
    <sql id="BlockCurrentHistoryByCondition">
        <if test="blockHistoryId!=null and blockHistoryId!=''">
            AND block_history_id = #{blockHistoryId}
        </if>
        <if test="blockId!=null and blockId!=''">
            AND block_id = #{blockId}
        </if>
        <if test="appId!=null and appId!=''">
            AND app_id = #{appId}
        </if>
        <if test="tenantId!=null and tenantId!=''">
            AND tenant_id = #{tenantId}
        </if>
        <if test="renterId!=null and renterId!=''">
            AND renter_id = #{renterId}
        </if>
        <if test="siteId!=null and siteId!=''">
            AND site_id = #{siteId}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND created_by = #{createdBy}
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            AND last_updated_by = #{lastUpdatedBy}
        </if>
        <if test="createdTime!=null and createdTime!=''">
            AND created_time = #{createdTime}
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            AND last_updated_time = #{lastUpdatedTime}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="BlockCurrentHistorySetColumns">
        <if test="blockHistoryId!=null and blockHistoryId!=''">
            block_history_id = #{blockHistoryId},
        </if>
        <if test="blockId!=null and blockId!=''">
            block_id = #{blockId},
        </if>
        <if test="appId!=null and appId!=''">
            app_id = #{appId},
        </if>
        <if test="tenantId!=null and tenantId!=''">
            tenant_id = #{tenantId},
        </if>
        <if test="renterId!=null and renterId!=''">
            renter_id = #{renterId},
        </if>
        <if test="siteId!=null and siteId!=''">
            site_id = #{siteId},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            created_by = #{createdBy},
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            last_updated_by = #{lastUpdatedBy},
        </if>
        <if test="createdTime!=null and createdTime!=''">
            created_time = #{createdTime},
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            last_updated_time = #{lastUpdatedTime},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BlockCurrentHistoryMap" type="com.tinyengine.it.model.entity.BlockCurrentHistory">
        <id column="id" property="id"/>
        <result column="block_history_id" property="blockHistoryId"/>
        <result column="block_id" property="blockId"/>
        <result column="app_id" property="appId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="site_id" property="siteId"/>
        <result column="renter_id" property="renterId"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="last_updated_time" property="lastUpdatedTime"/>
    </resultMap>

    <!-- 查询表t_block_current_history所有数据 -->
    <select id="queryAllBlockCurrentHistory" resultMap="BlockCurrentHistoryMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_block_current_history
    </select>

    <!-- 根据主键id查询表t_block_current_history信息 -->
    <select id="queryBlockCurrentHistoryById" resultMap="BlockCurrentHistoryMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_block_current_history
        WHERE id=#{id}
    </select>

    <!-- 根据条件查询表t_block_current_history数据 -->
    <select id="queryBlockCurrentHistoryByCondition" resultMap="BlockCurrentHistoryMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_block_current_history
        WHERE 1=1
        <include refid="BlockCurrentHistoryByCondition"/>
    </select>

    <!-- 根据主键id删除表t_block_current_history数据 -->
    <delete id="deleteBlockCurrentHistoryById">
        DELETE
        FROM t_block_current_history
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表t_block_current_history数据 -->
    <update id="updateBlockCurrentHistoryById" parameterType="com.tinyengine.it.model.entity.BlockCurrentHistory">
        UPDATE t_block_current_history
        <set>
            <include refid="BlockCurrentHistorySetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表t_block_current_history数据 -->
    <insert id="createBlockCurrentHistory" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.tinyengine.it.model.entity.BlockCurrentHistory">
        INSERT INTO t_block_current_history ( id
                                            , block_history_id
                                            , block_id
                                            , app_id
                                            , created_by
                                            , last_updated_by
                                            , created_time
                                            , last_updated_time
                                            , tenant_id
                                            , renter_id
                                            , site_id)
        VALUES ( #{id}
               , #{blockHistoryId}
               , #{blockId}
               , #{appId}
               , #{createdBy}
               , #{lastUpdatedBy}
               , #{createdTime}
               , #{lastUpdatedTime}
               , #{tenantId}
               , #{renterId}
               , #{siteId})
    </insert>
</mapper>
