<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.BlockGroupMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , name, app_id, platform_id, description, created_by, last_updated_by, created_time, last_updated_time,
        tenant_id, renter_id, site_id
    </sql>

    <!-- 通用条件列 -->
    <sql id="BlockGroupByCondition">
        <if test="name!=null and name!=''">
            AND name = #{name}
        </if>
        <if test="appId!=null and appId!=''">
            AND app_id = #{appId}
        </if>
        <if test="platformId!=null and platformId!=''">
            AND platform_id = #{platformId}
        </if>
        <if test="description!=null and description!=''">
            AND description = #{description}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND created_by = #{createdBy}
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            AND last_updated_by = #{lastUpdatedBy}
        </if>
        <if test="createdTime!=null and createdTime!=''">
            AND created_time = #{createdTime}
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            AND last_updated_time = #{lastUpdatedTime}
        </if>
        <if test="tenantId!=null and tenantId!=''">
            AND tenant_id = #{tenantId}
        </if>
        <if test="renterId!=null and renterId!=''">
            AND renter_id = #{renterId}
        </if>
        <if test="siteId!=null and siteId!=''">
            AND site_id = #{siteId}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="BlockGroupSetColumns">
        <if test="name!=null and name!=''">
            name = #{name},
        </if>
        <if test="appId!=null and appId!=''">
            app_id = #{appId},
        </if>
        <if test="platformId!=null and platformId!=''">
            platform_id = #{platformId},
        </if>
        <if test="description!=null and description!=''">
            description = #{description},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            created_by = #{createdBy},
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            last_updated_by = #{lastUpdatedBy},
        </if>
        <if test="createdTime!=null and createdTime!=''">
            created_time = #{createdTime},
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            last_updated_time = #{lastUpdatedTime},
        </if>
        <if test="tenantId!=null and tenantId!=''">
            tenant_id = #{tenantId},
        </if>
        <if test="renterId!=null and renterId!=''">
            renter_id = #{renterId},
        </if>
        <if test="siteId!=null and siteId!=''">
            site_id = #{siteId},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BlockGroupMap" type="com.tinyengine.it.model.entity.BlockGroup">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="app_id" property="appId"/>
        <result column="platform_id" property="platformId"/>
        <result column="description" property="description"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="last_updated_time" property="lastUpdatedTime"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="renter_id" property="renterId"/>
        <result column="site_id" property="siteId"/>
        <collection property="blocks" ofType="com.tinyengine.it.model.entity.Block" column="block_id">
            <id column="block_id" property="id"/>
            <result column="label" property="label"/>
            <result column="block_name" property="name"/>
            <result column="framework" property="framework"/>
            <result column="content" property="content"/>
            <result column="assets" property="assets"/>
            <result column="last_build_info" property="lastBuildInfo"/>
            <result column="block_description" property="description"/>
            <result column="tags" property="tags"/>
            <result column="latest_version" property="latestVersion"/>
            <result column="latest_history_id" property="latestHistoryId"/>
            <result column="screenshot" property="screenshot"/>
            <result column="path" property="path"/>
            <result column="occupier_by" property="occupierBy"/>
            <result column="is_official" property="isOfficial"/>
            <result column="public" property="publicStatus"/>
            <result column="is_default" property="isDefault"/>
            <result column="tiny_reserved" property="isTinyReserved"/>
            <result column="npm_name" property="npmName"/>
            <result column="i18n" property="i18n"/>
            <result column="block_platform_id" property="platformId"/>
            <result column="block_app_id" property="appId"/>
            <result column="content_blocks" property="contentBlocks"/>
            <result column="block_created_by" property="createdBy"/>
            <result column="block_last_updated_by" property="lastUpdatedBy"/>
            <result column="block_created_time" property="createdTime"/>
            <result column="block_last_updated_time" property="lastUpdatedTime"/>
            <result column="block_tenant_id" property="tenantId"/>
            <result column="block_renter_id" property="renterId"/>
            <result column="block_site_id" property="siteId"/>
        </collection>
    </resultMap>

    <!-- 查询表t_block_group所有数据 -->
    <select id="queryAllBlockGroupAndBlock" resultMap="BlockGroupMap">
        SELECT bg.id,
        bg.name,
        bg.app_id,
        bg.platform_id,
        bg.description,
        bg.created_by,
        bg.last_updated_by,
        bg.created_time,
        bg.last_updated_time,
        bg.tenant_id,
        bg.renter_id,
        bg.site_id,
        b.id as block_id,
        b.label,
        b.name as block_name,
        b.framework,
        b.content,
        b.assets,
        b.last_build_info,
        b.description as block_description,
        b.tags,
        b.latest_version,
        b.latest_history_id,
        b.screenshot,
        b.path,
        b.occupier_by,
        b.is_official,
        b.`public`,
        b.is_default,
        b.tiny_reserved,
        b.npm_name,
        b.i18n,
        b.platform_id as block_platform_id,
        b.app_id as block_app_id,
        b.content_blocks,
        b.created_by as block_created_by,
        b.last_updated_by as block_last_updated_by,
        b.created_time as block_created_time,
        b.last_updated_time as block_last_updated_time,
        b.tenant_id as block_tenant_id,
        b.renter_id as block_renter_id,
        b.site_id as block_site_id
        FROM t_block_group bg
        LEFT JOIN
        r_block_group_block rbg ON rbg.block_group_id = bg.id
        LEFT JOIN
        t_block b ON b.id = rbg.block_id
        <choose>
            <when test="blockCreatedBy != null">
                AND b.created_by = #{blockCreatedBy}
            </when>
            <otherwise>
                AND b.last_build_info is not null and b.content is not null
            </otherwise>
        </choose>
        <where>
            <if test="groupCreatedBy != null">
                AND bg.created_by = #{groupCreatedBy}
            </if>
        </where>
    </select>

    <!-- 根据app查询表block_group -->
    <select id="queryBlockGroupByAppId" resultMap="BlockGroupMap">
        SELECT
        bg.id,
        bg.name,
        bg.app_id,
        bg.platform_id,
        bg.description,
        bg.created_by,
        bg.last_updated_by,
        bg.created_time,
        bg.last_updated_time,
        bg.tenant_id,
        bg.renter_id,
        bg.site_id,
        b.id as block_id,
        b.label,
        b.name as block_name,
        b.framework,
        b.content,
        b.assets,
        b.last_build_info,
        b.description as block_description,
        b.tags,
        b.latest_version,
        b.latest_history_id,
        b.screenshot,
        b.path,
        b.occupier_by,
        b.is_official,
        b.`public`,
        b.is_default,
        b.tiny_reserved,
        b.npm_name,
        b.i18n,
        b.platform_id as block_platform_id,
        b.app_id as block_app_id,
        b.content_blocks,
        b.created_by as block_created_by,
        b.last_updated_by as block_last_updated_by,
        b.created_time as block_created_time,
        b.last_updated_time as block_last_updated_time,
        b.tenant_id as block_tenant_id,
        b.renter_id as block_renter_id,
        b.site_id as block_site_id
        FROM t_block_group bg
        LEFT JOIN
        r_block_group_block rbg ON rbg.block_group_id = bg.id
        LEFT JOIN
        t_block b ON b.id = rbg.block_id
        <choose>
            <when test="blockCreatedBy != null">
                AND b.created_by = #{blockCreatedBy}
            </when>
            <otherwise>
                AND b.last_build_info is not null and b.content is not null
            </otherwise>
        </choose>
        <where>
            <if test="appId != null">
                AND bg.app_id = #{appId}
            </if>
            <if test="groupCreatedBy != null">
                AND bg.created_by = #{groupCreatedBy}
            </if>
        </where>
    </select>
    <!-- 根据主键id查询表t_block_group信息 -->
    <select id="queryBlockGroupAndBlockById" resultMap="BlockGroupMap">
        SELECT
        bg.id,
        bg.name,
        bg.app_id,
        bg.platform_id,
        bg.description,
        bg.created_by,
        bg.last_updated_by,
        bg.created_time,
        bg.last_updated_time,
        bg.tenant_id,
        bg.renter_id,
        bg.site_id,
        b.id as block_id,
        b.label,
        b.name as block_name,
        b.framework,
        b.content,
        b.assets,
        b.last_build_info,
        b.description as block_description,
        b.tags,
        b.latest_version,
        b.latest_history_id,
        b.screenshot,
        b.path,
        b.occupier_by,
        b.is_official,
        b.`public`,
        b.is_default,
        b.tiny_reserved,
        b.npm_name,
        b.i18n,
        b.platform_id as block_platform_id,
        b.app_id as block_app_id,
        b.content_blocks,
        b.created_by as block_created_by,
        b.last_updated_by as block_last_updated_by,
        b.created_time as block_created_time,
        b.last_updated_time as block_last_updated_time,
        b.tenant_id as block_tenant_id,
        b.renter_id as block_renter_id,
        b.site_id as block_site_id
        FROM t_block_group bg
        LEFT JOIN
        r_block_group_block rbg ON rbg.block_group_id = bg.id
        LEFT JOIN
        t_block b ON b.id = rbg.block_id
        <choose>
            <when test="blockCreatedBy != null">
                AND b.created_by = #{blockCreatedBy}
            </when>
            <otherwise>
                AND b.last_build_info is not null and b.content is not null
            </otherwise>
        </choose>
        <where>
            <if test="id != null">
                AND bg.id = #{id}
            </if>
            <if test="groupCreatedBy != null">
                AND bg.created_by = #{groupCreatedBy}
            </if>
        </where>
    </select>


    <!-- 根据条件查询表t_block_group数据 -->
    <select id="queryBlockGroupByCondition" resultMap="BlockGroupMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_block_group
        WHERE 1=1
        <include refid="BlockGroupByCondition"/>
    </select>

    <!-- 根据主键id删除表t_block_group数据 -->
    <delete id="deleteBlockGroupById">
        DELETE
        FROM t_block_group
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表t_block_group数据 -->
    <update id="updateBlockGroupById" parameterType="com.tinyengine.it.model.entity.BlockGroup">
        UPDATE t_block_group
        <set>
            <include refid="BlockGroupSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表t_block_group数据 -->
    <insert id="createBlockGroup" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.tinyengine.it.model.entity.BlockGroup">
        INSERT INTO t_block_group ( id
                                  , name
                                  , app_id
                                  , platform_id
                                  , description
                                  , created_by
                                  , last_updated_by
                                  , created_time
                                  , last_updated_time
                                  , tenant_id
                                  , renter_id
                                  , site_id)
        VALUES ( #{id}
               , #{name}
               , #{appId}
               , #{platformId}
               , #{description}
               , #{createdBy}
               , #{lastUpdatedBy}
               , #{createdTime}
               , #{lastUpdatedTime}
               , #{tenantId}
               , #{renterId}
               , #{siteId})
    </insert>
</mapper>
