<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyengine.it.mapper.TenantMapper">

    <!-- 通用设置 -->

    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id
        , name_cn, name_en, description, created_by, last_updated_by, created_time, last_updated_time, tenant_id,
        site_id
    </sql>

    <!-- 通用条件列 -->
    <sql id="TenantByCondition">
        <if test="nameCn!=null and nameCn!=''">
            AND name_cn = #{nameCn}
        </if>
        <if test="nameEn!=null and nameEn!=''">
            AND name_en = #{nameEn}
        </if>
        <if test="description!=null and description!=''">
            AND description = #{description}
        </if>
        <if test="createdBy!=null and createdBy!=''">
            AND created_by = #{createdBy}
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            AND last_updated_by = #{lastUpdatedBy}
        </if>
        <if test="createdTime!=null and createdTime!=''">
            AND created_time = #{createdTime}
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            AND last_updated_time = #{lastUpdatedTime}
        </if>
        <if test="tenantId!=null and tenantId!=''">
            AND tenant_id = #{tenantId}
        </if>
        <if test="siteId!=null and siteId!=''">
            AND site_id = #{siteId}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="TenantSetColumns">
        <if test="nameCn!=null and nameCn!=''">
            name_cn = #{nameCn},
        </if>
        <if test="nameEn!=null and nameEn!=''">
            name_en = #{nameEn},
        </if>
        <if test="description!=null and description!=''">
            description = #{description},
        </if>
        <if test="createdBy!=null and createdBy!=''">
            created_by = #{createdBy},
        </if>
        <if test="lastUpdatedBy!=null and lastUpdatedBy!=''">
            last_updated_by = #{lastUpdatedBy},
        </if>
        <if test="createdTime!=null and createdTime!=''">
            created_time = #{createdTime},
        </if>
        <if test="lastUpdatedTime!=null and lastUpdatedTime!=''">
            last_updated_time = #{lastUpdatedTime},
        </if>
        <if test="tenantId!=null and tenantId!=''">
            tenant_id = #{tenantId},
        </if>
        <if test="siteId!=null and siteId!=''">
            site_id = #{siteId},
        </if>
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="TenantMap" type="com.tinyengine.it.model.entity.Tenant">
        <id column="id" property="id"/>
        <result column="name_cn" property="nameCn"/>
        <result column="name_en" property="nameEn"/>
        <result column="description" property="description"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="last_updated_time" property="lastUpdatedTime"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="site_id" property="siteId"/>
    </resultMap>

    <!-- 查询表t_tenant所有数据 -->
    <select id="queryAllTenant" resultMap="TenantMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_tenant
    </select>

    <!-- 根据主键id查询表t_tenant信息 -->
    <select id="queryTenantById" resultMap="TenantMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_tenant
        WHERE id=#{id}
    </select>

    <!-- 根据条件查询表t_tenant数据 -->
    <select id="queryTenantByCondition" resultMap="TenantMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_tenant
        WHERE 1=1
        <include refid="TenantByCondition"/>
    </select>

    <!-- 根据主键id删除表t_tenant数据 -->
    <delete id="deleteTenantById">
        DELETE
        FROM t_tenant
        WHERE id = #{id}
    </delete>

    <!-- 根据主键id更新表t_tenant数据 -->
    <update id="updateTenantById" parameterType="com.tinyengine.it.model.entity.Tenant">
        UPDATE t_tenant
        <set>
            <include refid="TenantSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表t_tenant数据 -->
    <insert id="createTenant" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.tinyengine.it.model.entity.Tenant">
        INSERT INTO t_tenant ( id
        , name_cn
        , name_en
        , description
        , created_by
        , last_updated_by
        , created_time
        , last_updated_time
        , tenant_id
        , site_id)
        VALUES ( #{id}
        , #{nameCn}
        , #{nameEn}
        , #{description}
        , #{createdBy}
        , #{lastUpdatedBy}
        , #{createdTime}
        , #{lastUpdatedTime}
        , #{tenantId}
        , #{siteId})
    </insert>
</mapper>
